@model ProjectAllocation


@{
    ViewData["Title"] = "Project Allocation";
}

<style>
    input[type='number'] {
        width: 80px;
    }

    .hidden {
        display: none;
    }
</style>

<div class="card border-1">
    <div id="cardbody" class="card-body">
        <div class="f-l pr-1">
            <button type="submit" id="btn_submit" class="btn btn-sm btn-primary">
                <i class="bi bi-check"></i> Save
            </button>
        </div>
    </div>
</div>

<form id="frm_container" action="/" method="post">

    <div class="pt-3">
        <div class="card border-1">

            <div class="card-header pt-3 pl-3 pb-1">
                <h6>Project Allocation</h6>
            </div>

            <div id="cardbody" class="card-body">

                <input asp-for="ProjectAllocationId" hidden />

                <div class="row">

                    <div class="col">
                        <label class="form-label"><strong>Job Number:</strong></label>
                    </div>

                    <div class="col">
                        <input asp-for="PGTJobNumber" class="form-control" placeholder="Project Number..." />
                        <span class="text-danger" asp-validation-for="PGTJobNumber"></span>
                    </div>
                    <div class="col">
                        <label class="form-label"><strong>Client Name:</strong></label>
                    </div>
                    <div class="col">
                        <input asp-for="ClientName" class="form-control" placeholder="Client Name..." />
                        <span class="text-danger" asp-validation-for="ClientName"></span>
                    </div>

                    <div class="w-100 pt-2"></div>

                    <div class="col">
                        <label class="form-label"><strong>Project Name:</strong></label>
                    </div>
                    <div class="col">
                        <input asp-for="ProjectName" class="form-control" placeholder="Project Name..." />
                        <span class="text-danger" asp-validation-for="ProjectName"></span>
                    </div>
                    <div class="col">
                        <label class="form-label"><strong>Client Job Number:</strong></label>

                    </div>
                    <div class="col">
                        <input asp-for="ClientJobNumber" class="form-control" placeholder="Client Job Number..." />
                        <span class="text-danger" asp-validation-for="ClientJobNumber"></span>
                    </div>

                    <div class="w-100 pt-2"></div>

                    <div class="col-3">
                        <label class="form-label"><strong>Production Hours:</strong></label>
                    </div>
                    <div class="col-1">
                        <input id="txt_production_hours" value="9" onkeypress="return COM.IsNumber()" asp-for="ProductionHours" class="form-control" type="text" style="width:80px" />
                        <span class="text-danger" asp-validation-for="ProductionHours"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card border-1 pb-0">
        <div id="cardbody" class="card-body m-0">
            <table class="table table-light table-bordered">
                <thead class="table">
                    <tr>
                        <th width="1%" class="text-left"></th>
                        <th width="10%" class="text-left">Allocation Type</th>
                    </tr>
                </thead>
                <tbody class="text-right">
                    <tr>
                        <td id="cb_main"> <input class="form-check-input" type="checkbox" value="main" asp-for="IsMainChecked"></td>
                        <td><strong>Main</strong></td>
                    </tr>
                    <tr>
                        <td id="cb_misc"> <input class="form-check-input" type="checkbox" value="misc" asp-for="IsMiscChecked"></td>
                        <td><strong> Misc</strong></td>
                    </tr>
                    <tr>
                        <td id="cb_main_misc"> <input class="form-check-input" type="checkbox" value="main_misc" asp-for="IsMainMiscChecked"></td>
                        <td><strong> Main and Misc</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <div class="hidden main">
        <div class="pt-3">
            <div class="card border-1">

                <div class="card-header pt-3 pl-3 pb-1">
                    <h6 class="f-l pr-1">Main Allocation</h6>
                </div>

                <div id="cardbody" class="card-body m-1">

                    <div class="row">

                        <div class="col-6 hstack gap-2">

                            <div class="row">

                                <div class="col">
                                    <label class="form-label"><strong>Hours</strong></label>
                                </div>

                                <div class="col">
                                    <input id="txt_main_hours" onkeypress="return COM.IsNumber()" asp-for="MainAllocation.Hours" class="form-control" type="text" style="width:80px" />
                                    <span class="text-danger" asp-validation-for="MainAllocation.Hours"></span>
                                </div>

                                <div class="w-100 pt-2"></div>

                                <div class="col">
                                    <label class="form-label"><strong>Ratio</strong></label>
                                </div>


                                <div class="col-1">
                                    <input id="txt_main_r1" onkeypress="return COM.IsNumber()" asp-for="MainAllocation.R1" class="form-control" type="text" style="width:60px; height: 30px;">
                                </div>
                                <div class="col-1 text-center">
                                    <strong>:</strong>
                                </div>
                                <div class="col-4">
                                    <input id="txt_main_r2" onkeypress="return COM.IsNumber()" asp-for="MainAllocation.R2" class="form-control" type="text" style="width: 60px; height: 30px; ">
                                </div>

                                <div class="w-100 pt-2"></div>

                                <div class="col">
                                    <label class="form-label"><strong>Start Date</strong></label>
                                </div>
                                <div class="col">
                                    <input id="txt_main_start_date" asp-for="MainAllocation.StartDate" class="form-control" type="text" placeholder="dd/mm/yyyy" />
                                    <span class="text-danger" asp-validation-for="MainAllocation.StartDate"></span>
                                </div>

                                <div class="w-100 pt-2"></div>

                                <div class="col">
                                    <label class="form-label"><strong>Schedule Days</strong></label>
                                </div>
                                <div class="col">
                                    <input id="txt_main_schedule_days" onkeypress="return COM.IsNumber()" asp-for="MainAllocation.ScheduleDays" class="form-control" type="text" style="width:80px" />
                                    <span class="text-danger" asp-validation-for="MainAllocation.ScheduleDays"></span>
                                </div>

                                <div class="w-100 pt-2"></div>

                                <div class="col">
                                    <label class="form-label"><strong>Modeler</strong><span style="font-size:11px; color:green;">%</span></label>
                                </div>
                                <div class="col">
                                    <input id="txt_main_modeler" class="form-control" onblur="return Allocation.IsValidPercent(event)" onkeypress="return COM.IsNumber()" asp-for="MainAllocation.ModelerPercent" type="text" style="width:80px" />
                                    <span class="text-danger" asp-validation-for="MainAllocation.ModelerPercent"></span>
                                </div>

                                <div class="w-100 pt-2"></div>

                                <div class="col">
                                    <label class="form-label"><strong>Checker</strong><span style="font-size:11px; color:green;">%</span></label>
                                </div>
                                <div class="col">
                                    <input id="txt_main_checker" onblur="return Allocation.IsValidPercent(event)" onkeypress="return COM.IsNumber()" asp-for="MainAllocation.CheckerPercent" class="form-control" type="text" style="width:80px" />
                                    <span class="text-danger" asp-validation-for="MainAllocation.CheckerPercent"></span>
                                </div>

                                <div class="w-100 pt-2"></div>

                                <div class="col">
                                    <label class="form-label"><strong>Detailer</strong><span style="font-size:11px; color:green;">%</span></label>
                                </div>

                                <div class="col">
                                    <input id="txt_main_detailer" onblur="return Allocation.IsValidPercent(event)" onkeypress="return COM.IsNumber()" asp-for="MainAllocation.DetailerPercent" class="form-control" type="text" style="width:80px" />
                                    <span class="text-danger" asp-validation-for="MainAllocation.DetailerPercent"></span>
                                </div>

                                <div class="w-100 pt-2"></div>

                                <div class="col hidden">
                                    <label class="form-label"><strong>Coordination</strong><span style="font-size:11px; color:green;">%</span></label>

                                </div>

                                <div class="col hidden">
                                    <input id="txt_main_coordination" onblur="return Allocation.IsValidPercent(event)" onkeypress="return COM.IsNumber()" readonly asp-for="MainAllocation.TotalCoordination" class="form-control" type="text" style="width:80px" />
                                    <span class="text-danger" asp-validation-for="MainAllocation.TotalCoordination"></span>
                                </div>
                            </div>

                            <div class="vr"></div>
                        </div>


                        <div class="col-6">
                            <table class="table table-light table-bordered" style="width:100%; height: 100%;">
                                <thead class="table" hidden>
                                    <tr>
                                        <th width="1%" class="text-left">Allocation</th>
                                        <th width="10%" class="text-left">Result</th>
                                    </tr>
                                </thead>
                                <tbody class="text-left">
                                    <tr>
                                        <td><strong> Hours:</strong></td>
                                        <td id="td_main_hours"><span class="badge bg-success">@(Model.MainAllocation.Hours)</span></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Submission Date:</strong></td>
                                        <td id="td_main_submission_date"><span class="badge bg-success">@(Model.MainAllocation.SubmissionDate)</span></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Ratio:</strong></td>
                                        <td id="td_main_ratio"><span class="badge bg-success">@(Model.MainAllocation.IFA):@(Model.MainAllocation.IFF)</span></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Total Resource:</strong></td>
                                        <td id="td_main_total_resource"><span class="badge bg-success">@(Model.MainAllocation.TotalResources)</span></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Resource (Modeler):</strong></td>
                                        <td id="td_main_modelers_need"><span class="badge bg-success">@(Model.MainAllocation.TotalResources)</span></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Resource (Checker):</strong></td>
                                        <td id="td_main_checkers_need"><span class="badge bg-success">@(Model.MainAllocation.TotalChecker)</span></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Resource (Detailer):</strong></td>
                                        <td id="td_main_detailers_need"><span class="badge bg-success">@(Model.MainAllocation.TotalDetailer)</span></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Coordination:</strong></td>
                                        <td id="td_main_cordination_need"><span class="badge bg-success">@(Model.MainAllocation.TotalCoordination)</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <input id="rslt_main_submission" asp-for="@Model.MainAllocation.SubmissionDate" hidden />
            <input id="rslt_main_r1" asp-for="@Model.MainAllocation.R1" hidden />
            <input id="rslt_main_r2" asp-for="@Model.MainAllocation.R2" hidden />
            <input id="rslt_main_resource" asp-for="@Model.MainAllocation.TotalResources" hidden />
            <input id="rslt_main_modelers_need" asp-for="@Model.MainAllocation.TotalModeler" hidden />
            <input id="rslt_main_checkers_need" asp-for="@Model.MainAllocation.TotalChecker" hidden />
            <input id="rslt_main_detailers_need" asp-for="@Model.MainAllocation.TotalDetailer" hidden />
            <input id="rslt_main_coordination_need" asp-for="@Model.MainAllocation.TotalCoordination" hidden />
        </div>
    </div>



    <div class="hidden misc">


        <div class="card border-1">

            <div class="card-header pt-3 pl-3 pb-1">
                <h6>Misc Allocation</h6>
            </div>

            <div id="cardbody" class="card-body m-1">

                <div class="row">

                    <div class="col-6 hstack gap-2">
                        <div class="row">

                            <div class="col">
                                <label class="form-label"><strong>Hours</strong></label>
                            </div>

                            <div class="col">
                                <input id="txt_misc_hours" onkeypress="return COM.IsNumber()" asp-for="MiscAllocation.Hours" class="form-control" type="text" style="width:80px" />
                                <span class="text-danger" asp-validation-for="MiscAllocation.Hours"></span>
                            </div>

                            <div class="w-100 pt-2"></div>

                            <div class="col">
                                <label class="form-label"><strong>Ratio</strong></label>
                            </div>


                            <div class="col-1">
                                <input id="txt_misc_r1" onkeypress="return COM.IsNumber()" asp-for="MiscAllocation.R1" class="form-control" type="text" style="width:60px; height: 30px;">
                            </div>
                            <div class="col-1 text-center">
                                <strong>:</strong>
                            </div>
                            <div class="col-4">
                                <input id="txt_misc_r2" onkeypress="return COM.IsNumber()" asp-for="MiscAllocation.R2" class="form-control" type="text" style="width: 60px; height: 30px; ">
                            </div>

                            <div class="w-100 pt-2"></div>

                            <div class="col">
                                <label class="form-label"><strong>Start Date</strong></label>
                            </div>
                            <div class="col">
                                <input id="txt_misc_start_date" asp-for="MiscAllocation.StartDate" class="form-control" type="text" placeholder="dd/mm/yyyy" />
                                <span class="text-danger" asp-validation-for="MiscAllocation.StartDate"></span>
                            </div>

                            <div class="w-100 pt-2"></div>

                            <div class="col">
                                <label class="form-label"><strong>Schedule Days</strong></label>
                            </div>
                            <div class="col">
                                <input id="txt_misc_schedule_days" onkeypress="return COM.IsNumber()" asp-for="MiscAllocation.ScheduleDays" class="form-control" type="text" style="width:80px" />
                                <span class="text-danger" asp-validation-for="MiscAllocation.ScheduleDays"></span>
                            </div>

                            <div class="w-100 pt-2"></div>

                            <div class="col">
                                <label class="form-labe"><strong>Modeler</strong><span style="font-size:11px; color:green;">%</span></label>
                            </div>
                            <div class="col">
                                <input id="txt_misc_modeler" class="form-control" onblur="return Allocation.IsValidPercent(event)" onkeypress="return COM.IsNumber()" asp-for="MiscAllocation.ModelerPercent" type="text" style="width:80px" />
                                <span class="text-danger" asp-validation-for="MiscAllocation.ModelerPercent"></span>
                            </div>

                            <div class="w-100 pt-2"></div>

                            <div class="col">
                                <label class="form-label"><strong>Checker</strong><span style="font-size:11px; color:green;">%</span></label>
                            </div>
                            <div class="col">
                                <input id="txt_misc_checker" onblur="return Allocation.IsValidPercent(event)" onkeypress="return COM.IsNumber()" asp-for="MiscAllocation.CheckerPercent" class="form-control" type="text" style="width:80px" />
                                <span class="text-danger" asp-validation-for="MiscAllocation.CheckerPercent"></span>
                            </div>

                            <div class="w-100 pt-2"></div>

                            <div class="col">
                                <label class="form-label"><strong>Detailer</strong><span style="font-size:11px; color:green;">%</span></label>
                            </div>

                            <div class="col">
                                <input id="txt_misc_detailer" onblur="return Allocation.IsValidPercent(event)" onkeypress="return COM.IsNumber()" asp-for="MiscAllocation.DetailerPercent" class="form-control" type="text" style="width:80px" />
                                <span class="text-danger" asp-validation-for="MiscAllocation.DetailerPercent"></span>
                            </div>

                            <div class="w-100 pt-2"></div>

                            <div class="col hidden">
                                <label class="form-label"><strong>Coordination</strong><span style="font-size:11px; color:green;">%</span></label>

                            </div>

                            <div class="col hidden">
                                <input id="txt_misc_coordination" onblur="return Allocation.IsValidPercent(event)" onkeypress="return COM.IsNumber()" asp-for="MiscAllocation.TotalCoordination" class="form-control" readonly type="text" style="width:80px" />
                                <span class="text-danger" asp-validation-for="MiscAllocation.TotalCoordination"></span>
                            </div>
                        </div>

                        <div class="vr"></div>
                    </div>

                    <div class="col-6">
                        <table id="" class="table table-light table-bordered" style="width:100%; height: 100%;">
                            <thead class="table-primary" hidden>
                                <tr>
                                    <th width="5%" class="text-left">Allocation</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody class="text-left">
                                <tr>
                                    <td><strong>Hours:</strong></td>
                                    <td id="td_misc_hours"><span class="badge bg-success">@(Model.MiscAllocation.Hours)</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Submission Date:</strong></td>
                                    <td id="td_misc_submission_date"><span class="badge bg-success">@(Model.MiscAllocation.SubmissionDate)</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Ratio:</strong></td>
                                    <td id="td_misc_ratio"><span class="badge bg-success">@(Model.MiscAllocation.IFA):@(Model.MiscAllocation.IFF)</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Total Resource:</strong></td>
                                    <td id="td_misc_total_resource"><span class="badge bg-success">@(Model.MiscAllocation.TotalResources)</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Resource (Modeler):</strong></td>
                                    <td id="td_misc_modeler_need"><span class="badge bg-success">@(Model.MiscAllocation.TotalResources)</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Resource (Checker):</strong></td>
                                    <td id="td_misc_checker_need"><span class="badge bg-success">@(Model.MiscAllocation.TotalChecker)</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Resource (Detailer):</strong></td>
                                    <td id="td_misc_detailer_need"><span class="badge bg-success">@(Model.MiscAllocation.TotalDetailer)</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Coordination:</strong></td>
                                    <td id="td_misc_coordination_need"><span class="badge bg-success">@(Model.MiscAllocation.TotalCoordination)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <input id="rslt_misc_submission" asp-for="@Model.MiscAllocation.SubmissionDate" hidden />
                <input id="rslt_misc_r1" asp-for="@Model.MiscAllocation.R1" hidden />
                <input id="rslt_misc_r2" asp-for="@Model.MiscAllocation.R2" hidden />
                <input id="rslt_misc_resource" asp-for="@Model.MiscAllocation.TotalResources" hidden />
                <input id="rslt_misc_modelers_need" asp-for="@Model.MiscAllocation.TotalModeler" hidden />
                <input id="rslt_misc_checkers_need" asp-for="@Model.MiscAllocation.TotalChecker" hidden />
                <input id="rslt_misc_detailers_need" asp-for="@Model.MiscAllocation.TotalDetailer" hidden />
                <input id="rslt_misc_coordination_need" asp-for="@Model.MiscAllocation.TotalCoordination" hidden />

            </div>
        </div>
    </div>

    <div class="hidden main_misc">
        <div class="card border-1">

            <div class="card-header pt-3 pl-3 pb-1">
                <h6>Main and Misc Allocation</h6>
            </div>

            <div id="cardbody" class="card-body m-1">

                <div class="row">

                    <div class="col-6 hstack gap-2">

                        <div class="row">

                            <div class="col">
                                <label class="form-label"><strong>Hours</strong></label>
                            </div>

                            <div class="col">
                                <input id="txt_mainmisc_hours" onkeypress="return COM.IsNumber()" asp-for="MainAndMiscAllocation.Hours" class="form-control" type="text" style="width:80px" />
                                <span class="text-danger" asp-validation-for="MainAndMiscAllocation.Hours"></span>
                            </div>

                            <div class="w-100 pt-2"></div>

                            <div class="col">
                                <label class="form-label"><strong>Ratio</strong></label>
                            </div>


                            <div class="col-1">
                                <input id="txt_mainmisc_r1" onkeypress="return COM.IsNumber()" asp-for="MainAndMiscAllocation.R1" class="form-control" type="text" style="width:60px; height: 30px;">
                            </div>
                            <div class="col-1 text-center">
                                <strong>:</strong>
                            </div>
                            <div class="col-4">
                                <input id="txt_mainmisc_r2" onkeypress="return COM.IsNumber()" asp-for="MainAndMiscAllocation.R2" class="form-control" type="text" style="width: 60px; height: 30px; ">
                            </div>

                            <div class="w-100 pt-2"></div>

                            <div class="col">
                                <label class="form-label"><strong>Start Date</strong></label>
                            </div>
                            <div class="col">
                                <input id="txt_mainmisc_start_date" asp-for="MainAndMiscAllocation.StartDate" class="form-control" type="text" placeholder="dd/mm/yyyy" />
                                <span class="text-danger" asp-validation-for="MainAndMiscAllocation.StartDate"></span>
                            </div>

                            <div class="w-100 pt-2"></div>

                            <div class="col">
                                <label class="form-label"><strong>Schedule Days</strong></label>
                            </div>
                            <div class="col">
                                <input id="txt_mainmisc_schedule_days" onkeypress="return COM.IsNumber()" asp-for="MainAndMiscAllocation.ScheduleDays" class="form-control" type="text" style="width:80px" />
                                <span class="text-danger" asp-validation-for="MainAndMiscAllocation.ScheduleDays"></span>
                            </div>

                            <div class="w-100 pt-2"></div>

                            <div class="col">
                                <label class="form-labe"><strong>Modeler</strong><span style="font-size:11px; color:green;">%</span></label>
                            </div>
                            <div class="col">
                                <input id="txt_mainmisc_modeler" class="form-control" onblur="return Allocation.IsValidPercent(event)" onkeypress="return COM.IsNumber()" asp-for="MainAndMiscAllocation.ModelerPercent" type="text" style="width:80px" />
                                <span class="text-danger" asp-validation-for="MainAndMiscAllocation.ModelerPercent"></span>
                            </div>

                            <div class="w-100 pt-2"></div>

                            <div class="col">
                                <label class="form-label"><strong>Checker</strong><span style="font-size:11px; color:green;">%</span></label>
                            </div>
                            <div class="col">
                                <input id="txt_mainmisc_checker" onblur="return Allocation.IsValidPercent(event)" onkeypress="return COM.IsNumber()" asp-for="MainAndMiscAllocation.CheckerPercent" class="form-control" type="text" style="width:80px" />
                                <span class="text-danger" asp-validation-for="MainAndMiscAllocation.CheckerPercent"></span>
                            </div>

                            <div class="w-100 pt-2"></div>

                            <div class="col">
                                <label class="form-label"><strong>Detailer</strong><span style="font-size:11px; color:green;">%</span></label>
                            </div>

                            <div class="col">
                                <input id="txt_mainmisc_detailer" ;" onblur="return Allocation.IsValidPercent(event)" onkeypress="return COM.IsNumber()" asp-for="MainAndMiscAllocation.DetailerPercent" class="form-control" type="text" style="width:80px" />
                                <span class="text-danger" asp-validation-for="MainAndMiscAllocation.DetailerPercent"></span>
                            </div>

                            <div class="w-100 pt-2"></div>

                            <div class="col hidden">
                                <label class="form-label"><strong>Coordination</strong><span style="font-size:11px; color:green;">%</span></label>

                            </div>

                            <div class="col hidden">
                                <input id="txt_mainmisc_coordination" onblur="return Allocation.IsValidPercent(event)" onkeypress="return COM.IsNumber()" readonly asp-for="MainAndMiscAllocation.TotalCoordination" class="form-control" type="text" style="width:80px" />
                                <span class="text-danger" asp-validation-for="MainAndMiscAllocation.TotalCoordination"></span>
                            </div>
                        </div>

                        <div class="vr"></div>
                    </div>


                    <div class="col-6">
                        <table class="table table-light table-bordered" style="width:100%; height: 100%;">
                            <thead class="table" hidden>
                                <tr>
                                    <th width="1%" class="text-left">Allocation</th>
                                    <th width="10%" class="text-left">Result</th>
                                </tr>
                            </thead>
                            <tbody class="text-left">
                                <tr>
                                    <td><strong>Hours:</strong></td>
                                    <td id="td_mainmisc_hours"><span class="badge bg-success">@(Model.MainAndMiscAllocation.Hours)</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Submission Date:</strong></td>
                                    <td id="td_mainmisc_submission_date"><span class="badge bg-success">@(Model.MainAndMiscAllocation.SubmissionDate)</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Ratio:</strong></td>
                                    <td id="td_mainmisc_ratio"><span class="badge bg-success">@(Model.MainAndMiscAllocation.IFA):@(Model.MainAndMiscAllocation.IFF)</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Total Resource:</strong></td>
                                    <td id="td_mainmisc_total_resource"><span class="badge bg-success">@(Model.MainAndMiscAllocation.TotalResources)</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Resource (Modeler):</strong></td>
                                    <td id="td_mainmisc_modelers_need"><span class="badge bg-success">@(Model.MainAndMiscAllocation.TotalResources)</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Resource (Checker):</strong></td>
                                    <td id="td_mainmisc_checker_need"><span class="badge bg-success">@(Model.MainAndMiscAllocation.TotalChecker)</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Resource (Detailer):</strong></td>
                                    <td id="td_mainmisc_detailer_need"><span class="badge bg-success">@(Model.MainAndMiscAllocation.TotalDetailer)</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Coordination:</strong></td>
                                    <td id="td_mainmisc_coordination_need"><span class="badge bg-success">@(Model.MainAndMiscAllocation.TotalCoordination)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <input id="rslt_mainmisc_submission" asp-for="@Model.MainAndMiscAllocation.SubmissionDate" hidden />
                <input id="rslt_mainmisc_r1" asp-for="@Model.MainAndMiscAllocation.R1" hidden />
                <input id="rslt_mainmisc_r2" asp-for="@Model.MainAndMiscAllocation.R2" hidden />
                <input id="rslt_mainmisc_resource" asp-for="@Model.MainAndMiscAllocation.TotalResources" hidden />
                <input id="rslt_mainmisc_modelers_need" asp-for="@Model.MainAndMiscAllocation.TotalModeler" hidden />
                <input id="rslt_mainmisc_checkers_need" asp-for="@Model.MainAndMiscAllocation.TotalChecker" hidden />
                <input id="rslt_mainmisc_detailers_need" asp-for="@Model.MainAndMiscAllocation.TotalDetailer" hidden />
                <input id="rslt_mainmisc_detailers_need" asp-for="@Model.MainAndMiscAllocation.TotalCoordination" hidden />

            </div>
        </div>
    </div>


</form>



@section Scripts{

    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(document).ready(() => {
            DatePicker();
        });

        $("input[type='checkbox']").change(function () {
            var checkbox = $(this).val();
            var count = 0;
            if ($(".hidden").hasClass(checkbox)) {
                if ($(this).is(":checked")) {
                    $(".hidden." + checkbox).show();
                } else {
                    $(".hidden." + checkbox).hide();
                }
            }
        });

        const DatePicker = function () {
            $("#txt_main_start_date").datepicker({
                beforeShowDay: $.datepicker.noWeekends,
                dateFormat: 'dd/mm/yy'
            });

            $("#txt_misc_start_date").datepicker({
                beforeShowDay: $.datepicker.noWeekends,
                dateFormat: 'dd/mm/yy'
            });
        };


        var txt_production_hours = "#txt_production_hours";

        var txt_main_r1 = "#txt_main_r1";
        var txt_main_r2 = "#txt_main_r2";
        var txt_main_hours = "#txt_main_hours"
        var txt_main_start_date = "#txt_main_start_date";
        var txt_main_schedule_days = "#txt_main_schedule_days";
        var txt_main_modeler = "#txt_main_modeler";
        var txt_main_detailer = "#txt_main_detailer";
        var txt_main_checker = "#txt_main_checker";
        var txt_main_coordination = "#txt_main_coordination";

        var txt_misc_r1 = "#txt_misc_r1";
        var txt_misc_r2 = "#txt_misc_r2";
        var txt_misc_hours = "#txt_misc_hours"
        var txt_misc_start_date = "#txt_misc_start_date";
        var txt_misc_schedule_days = "#txt_misc_schedule_days";
        var txt_misc_modeler = "#txt_misc_modeler";
        var txt_misc_detailer = "#txt_misc_detailer";
        var txt_misc_checker = "#txt_misc_checker";
        var txt_misc_coordination = "#txt_misc_coordination";

        var txt_mainmisc_r1 = "#txt_mainmisc_r1";
        var txt_mainmisc_r2 = "#txt_mainmisc_r2";
        var txt_mainmisc_hours = "#txt_mainmisc_hours"
        var txt_mainmisc_sart = "#txt_mainmisc_start_date";
        var txt_mainmisc_schedule_days = "#txt_mainmisc_schedule_days";
        var txt_mainmisc_modeler = "#txt_mainmisc_modeler";
        var txt_mainmisc_detailer = "#txt_mainmisc_detailer";
        var txt_mainmisc_checker = "#txt_mainmisc_checker";
        var txt_mainmisc_coordination = "#txt_mainmisc_coordination";

        var rslt_main_submission = "#rslt_main_submission";
        var rslt_main_r1 = "#rslt_main_r1";
        var rslt_main_r2 = "#rslt_main_r2";
        var rslt_main_resource = "#rslt_main_resource";
        var rslt_main_modelers_need = "#rslt_main_modelers_need";
        var rslt_main_checkers_need = "#rslt_main_checkers_need";
        var rslt_main_detailers_need = "#rslt_main_detailers_need";
        var rslt_main_coordination_need = "#rslt_main_coordination_need";

        var rslt_misc_submission = "#rslt_misc_submission";
        var rslt_misc_r1 = "#rslt_misc_r1";
        var rslt_misc_r2 = "#rslt_misc_r2";
        var rslt_misc_resource = "#rslt_misc_resource";
        var rslt_misc_modelers_need = "#rslt_misc_modelers_need";
        var rslt_misc_checkers_need = "#rslt_misc_checkers_need";
        var rslt_misc_detailers_need = "#rslt_misc_detailers_need";
        var rslt_misc_coordination_need = "#rslt_misc_coordination_need";

        var rslt_mainmisc_submission = "#rslt_mainmisc_submission";
        var rslt_mainmisc_r1 = "#rslt_mainmisc_r1";
        var rslt_mainmisc_r2 = "#rslt_mainmisc_r2";
        var rslt_mainmisc_resource = "#rslt_mainmisc_resource";
        var rslt_mainmisc_modelers_need = "#rslt_mainmisc_modelers_need";
        var rslt_mainmisc_checkers_need = "#rslt_mainmisc_checkers_need";
        var rslt_mainmisc_detailers_need = "#rslt_mainmisc_detailers_need";
        var rslt_mainmisc_coordination_need = "#rslt_mainmisc_coordination_need";

        var td_main_ratio = "#td_main_ratio";
        var td_main_total_resource = "#td_main_total_resource";
        var td_main_hours = "#td_main_hours"
        var td_main_submission_date = "#td_main_submission_date"
        var td_main_modelers_need = "#td_main_modelers_need";
        var td_main_checkers_need = "#td_main_checkers_need";
        var td_main_detailers_need = "#td_main_detailers_need";
        var td_main_cordination_need = "#td_main_cordination_need";

        var td_misc_ratio = "#td_misc_ratio";
        var td_misc_total_resource = "#td_misc_total_resource";
        var td_misc_hours = "#td_misc_hours";
        var td_misc_submission_date = "#td_misc_submission_date";
        var td_misc_modelers_need = "#td_misc_modelers_need";
        var td_misc_checkers_need = "#td_misc_checkers_need";
        var td_misc_detailers_need = "#td_misc_detailers_need";
        var td_misc_cordination_need = "#td_misc_cordination_need";

        var td_mainmisc_ratio = "#td_mainmisc_ratio";
        var td_mainmisc_total_resource = "#td_mainmisc_total_resource";
        var td_mainmisc_hours = "#td_mainmisc_hours";
        var td_mainmisc_submission_date = "#td_mainmisc_submission_date";
        var td_mainmisc_modelers_need = "#td_mainmisc_modelers_need";
        var td_mainmisc_checkers_need = "#td_mainmisc_checkers_need";
        var td_mainmisc_detailers_need = "#td_mainmisc_detailers_need";
        var td_mainmisc_cordination_need = "#td_mainmisc_cordination_need";  

        $("#btn_submit").click(function () {

            var td_hours = td_main_hours;
            var td_submission_date = td_main_submission_date;
            var td_ratio = td_main_ratio;

            var td_total_resource = td_main_total_resource;
            var td_modelers_need = td_main_modelers_need;
            var td_checkers_need = td_main_checkers_need;
            var td_detailers_need = td_main_detailers_need;
            var td_cordination_need = td_main_cordination_need;

            var rslt_submission_date = rslt_main_submission;
            var rslt_r1 = rslt_main_r1;
            var rslt_r2 = rslt_main_r2;
            var rslt_resource = rslt_main_resource;
            var rslt_modelers_need = rslt_main_modelers_need;
            var rslt_checkers_need = rslt_main_checkers_need;
            var rslt_detailers_need = rslt_main_detailers_need;
            var rslt_coordination_need = rslt_main_coordination_need;

            var allocation = new Allocation(
                COM.ConvertFloat($(txt_main_hours).val()),
                COM.ParseDate($(txt_main_start_date).val()),
                COM.ConvertFloat($(txt_main_r1).val()),
                COM.ConvertFloat($(txt_main_r2).val()),
                COM.ConvertFloat($(txt_main_schedule_days).val()),
                COM.ConvertFloat($(txt_main_modeler).val()),
                COM.ConvertFloat($(txt_main_checker).val()),
                COM.ConvertFloat($(txt_main_detailer).val()),
                COM.ConvertFloat($(txt_production_hours).val()),
            );

            var estimation = allocation.GetEstimation();

            var ratio1 = COM.IsNanOrInfinity(estimation.R1) ? 0 : estimation.R1;
            var ratio2 = COM.IsNanOrInfinity(estimation.R2) ? 0 : estimation.R2;
            var mainRatio = ratio1 + ":" + ratio2;

            $(td_main_hours).text($(txt_main_hours).val());
            $(td_main_submission_date).text(estimation.SubmissionDate);
            $(td_main_ratio).text(mainRatio);

            $(td_main_total_resource).text(COM.IsNanOrInfinity(Math.ceil(estimation.TotalResource)) ? 0 : Math.ceil(estimation.TotalResource));
            $(td_main_modelers_need).text(COM.IsNanOrInfinity(estimation.TotalModelers) ? 0 : estimation.TotalModelers);
            $(td_main_checkers_need).text(COM.IsNanOrInfinity(estimation.TotalCheckers) ? 0 : estimation.TotalCheckers);
            $(td_main_detailers_need).text(COM.IsNanOrInfinity(estimation.TotalDetailers) ? 0 : estimation.TotalDetailers);
            $(td_main_cordination_need).text(COM.IsNanOrInfinity(estimation.Coordination) ? 0 : estimation.Coordination);

            $(rslt_main_submission).val(estimation.SubmissionDate);
            $(rslt_main_r1).text(estimation.R1);
            $(rslt_main_r2).text(estimation.R2);
            $(rslt_main_resource).val(COM.IsNanOrInfinity(Math.ceil(estimation.TotalResource)) ? 0 : Math.ceil(estimation.TotalResource));
            $(rslt_main_modelers_need).val(COM.IsNanOrInfinity(estimation.TotalModelers) ? 0 : estimation.TotalModelers);
            $(rslt_main_checkers_need).val(COM.IsNanOrInfinity(estimation.TotalCheckers) ? 0 : estimation.TotalCheckers);
            $(rslt_main_detailers_need).val(COM.IsNanOrInfinity(estimation.TotalDetailers) ? 0 : estimation.TotalDetailers);
            $(rslt_main_coordination_need).val(COM.IsNanOrInfinity(estimation.Coordination) ? 0 : estimation.Coordination);
        });

        class Allocation {

            constructor(hours, startDate, r1, r2, scheduleDays, mPercent, Cpercent, Dpercent, productionhours) {
                this._hours = hours;
                this._startDate = startDate;
                this._r1 = r1;
                this._r2 = r2;
                this._scheduleDays = scheduleDays;
                this._mPercent = mPercent;
                this._Cpercent = Cpercent;
                this._Dpercent = Dpercent;
                this._productionhours = productionhours;
            }
            GetEstimation() {

                var estimation = new Estimation();

                var r1 = this.GetRatio(this._r1, this._hours)
                var r2 = this.GetRatio(this._r2, this._hours)

                var submissionDate = this.GetSubmissionDate(this._startDate, this._scheduleDays, null, false);
                var resoureceTotal = this.GetTotalResouce(COM.ConvertFloat(r1), this._scheduleDays, this._productionhours);

                var m = Math.round(COM.GetPercent(this._mPercent, resoureceTotal));
                var c = Math.round(COM.GetPercent(this._Cpercent, resoureceTotal));
                var d = Math.round(COM.GetPercent(this._Dpercent, resoureceTotal));

                var total = m + c + d;
                var coordniation = 0;

                if ((resoureceTotal - total) > 0) {
                    coordniation = Math.ceil(resoureceTotal) - total;
                }

                estimation.R1 = r1;
                estimation.R2 = r2;
                estimation.SubmissionDate = COM.ParseDateOfObject(submissionDate);
                estimation.TotalModelers = m;
                estimation.TotalCheckers = c;
                estimation.TotalDetailers = d;
                estimation.Coordination = coordniation;
                estimation.TotalResource = resoureceTotal;

                console.log(estimation);

                return estimation;
            }

            GetSubmissionDate(projectStartDate, numberofScheduledays, externalHolidays, isExcludeExternal) {

                var startDate = projectStartDate;
                var endDate = new Date(startDate);

                endDate.setDate(startDate.getDate() + parseInt(numberofScheduledays));

                var datesCol = this.GetRangeDates(startDate, endDate);

                //Before subission date may sat or sun or external holiday
                var weekOff = this.GetWeeokOFF(datesCol);
                var weekEndLength = weekOff.length;

                var workingdays = this.GetWorkingDays(datesCol);


                var newColDsc = this.SorDateDSC([...workingdays]);
                var newEndate = new Date(newColDsc[0]);
                newEndate.setDate(newEndate.getDate() + weekEndLength)

                do {
                    if (newEndate.getDay() == 0) {
                        //if sun add 1 extra day
                        newEndate.setDate(newEndate.getDate() + 1);
                    }
                    if (newEndate.getDay() == 6) {
                        //if sat add extra 2 days
                        newEndate.setDate(newEndate.getDate() + 2);
                    }
                } while (newEndate.getDay() == 0 || newEndate.getDay() == 6);


                return newEndate;
            }
            GetRatio(ratio, hour) {
                return COM.GetPercent(ratio, hour);
            }
            GetTotalResouce(totalhours, totalscheduledays, productionhours) {
                return (totalhours / (totalscheduledays * productionhours));
            }
            //(new Date(), new Date())
            GetRangeDates(startDate, endDate) {

                //
                var millisecondsPerDay = 86400 * 1000; //milliseconds per day
                startDate.setHours(0, 0, 0, 1); //after midnight;
                endDate.setHours(23, 59, 59, 999); //before midnight;

                for (var arr = [], dt = new Date(startDate); dt <= new Date(endDate); dt.setDate(dt.getDate() + 1)) {
                    arr.push(new Date(dt));
                }

                return arr;
            }
            //([new Date()])
            GetWeeokOFF(datesCol) {
                var hoidaysonly = datesCol.filter((element, index) => {
                    return (element.getDay() == 0 || element.getDay() == 6);
                });

                return hoidaysonly;
            }
            //([new Date()])
            GetWorkingDays(datesCol) {
                var workingDaysOnly = datesCol.filter((element, index) => {
                    return (element.getDay() != 0 && element.getDay() != 6);
                });

                return workingDaysOnly;
            }
            SorDateDSC(col) {
                return col.sort((a, b) => b - a);
            }
            static IsValidPercent(event) {

        @*var a = parseInt($(mainmodeler).val());
                var b = parseInt($(maindetailer).val());
                var c = parseInt($(mainchecker).val());

                var percent = parseInt(event.target.value);

                if (!this.IsValid(a, b, c, percent)) {
                event.target.value = 0;
                return false;
                }

                a = parseInt($(miscmodeler).val());
                b = parseInt($(miscdetailer).val());
                c = parseInt($(miscchecker).val());

                if (!this.IsValid(a, b, c, percent)) {
                event.target.value = 0;
                return false;
                }*@

                        return true;
            }
            static IsValid(a, b, c, percent) {
                if (((a + b + c) > 100) || percent > 100 || percent < 0 || COM.IsNanOrNull(percent)) {
                    return false;
                } else {
                    return true;
                }
            }

        };
        class Estimation {

            constructor() {

                this._R1;
                this._R2;

                this._Hours;

                this._SubmissionDate;

                this._TotalResource;


                this._TotalModelers;
                this._TotalCheckers;
                this._TotalDetailers;

                this._Coordination;
            }

            get R1() {
                return this._R1;
            }
            set R1(value) {
                this._R1 = value;
            }
            get R2() {
                return this._R2;
            }
            set R2(value) {
                this._R2 = value;
            }
            get Hours() {
                return this._Hours;
            }
            set Hours(value) {
                this._Hours = value;
            }

            get TotalResource() {
                return this._TotalResource;
            }
            set TotalResource(value) {
                this._TotalResource = value;
            }

            get SubmissionDate() {
                return this._SubmissionDate;
            }
            set SubmissionDate(value) {
                this._SubmissionDate = value;
            }
            get TotalModelers() {
                return this._TotalModelers;
            }
            set TotalModelers(value) {
                this._TotalModelers = value;
            }
            get TotalCheckers() {
                return this._TotalCheckers;
            }
            set TotalCheckers(value) {
                this._TotalCheckers = value;
            }

            get TotalDetailers() {
                return this._TotalDetailers;
            }
            set TotalDetailers(value) {
                this._TotalDetailers = value;
            }

            get Coordination() {
                return this._Coordination;
            }
            set Coordination(value) {
                this._Coordination = value;
            }
        };

    </script>
}
